.container{
color: red;
}
h1{
    display: block;
    font-size: 2em;
    font-weight: bold;
    unicode-bidi: isolate;
}
.container2{
    font-style: italic;
    color: rgb(137, 216, 17);
}
li{
    display: list-item;
    text-align: webkit-match-parent;
    unicode-bidi: isolate;
}
 .itemDeco{
 text-decoration: line-through;
}
li .olItemcolor{
    background-color: yellow;
}
ol{
    list-style-type: decimal;

}
.itemItalic{
  font-style: italic;
    text-decoration: underline;
}
ul.listcontainer{
    color: brown;
    letter-spacing: 5px;
}
p.paragraph{
    font-size: 18px;
    color: brown;
}
p.paragraph2{
    color: brown;
    font-size:9px;
}
p.paragraph3{
    color: brown;
    font-style:italic ;
}
a{
    background-color: yellow;
    text-decoration: none;
    color: brown;
}