body {
    background-color: beige;
}

h2 {
    background-color: beige;
    border: 2px solid red;
    text-align: center;
    background: linear-gradient(264deg, green, yellow);
}

.home {
    display: flex;
    background-color: greenyellow;
    border: 5px solid red;
    border-radius: 20px;
    justify-content: center;
    margin: 5px 150px 5px 150px;

}

.four {
    background-color: plum;
    border: 3px solid red;
    border-radius: 5px;
    display: flex;
    padding: 10px;
    height: 150px;
    width: 1280px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.one {
    border: 3px solid red;
    background-color: aqua;
    height: 60px;
    width: 400px;
    align-items: center;
    justify-content: center;

}

.two {
    border: 3px solid red;
    background-color: aqua;
    height: 60px;
    width: 400px;
}

.three {
    border: 3px solid red;
    background-color: aqua;
    height: 60px;
    width: 400px;
}

.fourth {
    border: 3px solid red;
    background-color: aqua;
    height: 60px;
    width: 400px;
    grid-column: 2/3;

}

.soyeb {
    display: flex;
    width: 1280px;
    height: 200px;
    background: linear-gradient(180deg, red, yellow, green, blue);
    border-radius: 22px;
    border: 3px solid black;
    justify-content: space-around;
}

.five1 {
    width: 250px;
    height: 140px;
    background-color: rgb(198, 198, 175);
    border: 3px solid black;
    border-radius: 23px;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    text-decoration: underline;
    font-weight: 500;
}

.five2 {
    width: 250px;
    height: 140px;
    background-color: rgb(198, 198, 175);
    border: 3px solid black;
    border-radius: 23px;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    text-decoration: underline;
    font-weight: 500;
}

.five3 {
    width: 250px;
    height: 140px;
    background-color: rgb(198, 198, 175);
    border: 3px solid black;
    border-radius: 23px;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    text-decoration: underline;
    font-weight: 500;
}

.five4 {
    width: 250px;
    height: 140px;
    background-color: rgb(198, 198, 175);
    border: 3px solid black;
    border-radius: 23px;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    text-decoration: underline;
    font-weight: 500;
}

.last {
    width: 1370px;
    height: 335px;
    border: 3px solid black;
    margin: 10px;
}


.s1 {
    width: 1370px;
    height: 30px;
    background-color: orchid;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.o1 {
    width: 400px;
    height: 100px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    background-color: red;
}

.o2 {
    width: 400px;
    height: 100px;
    background-color: rgb(149, 149, 244);
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-left: 420px;
    margin-top: -100px;
    background-color: rgb(130, 130, 196);
}

.o3 {
    width: 400px;
    height: 100px;
    background-color: blue;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-left: 840px;
    margin-top: -100px;
}

.o4 {
    background-color: rgb(228, 228, 55);
    width: 1240px;
    height: 100px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 24px;

}

.o5 {
    background-color: rgb(95, 165, 165);
    width: 1370px;
    height: 16px;
    color: black;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}

.o6 {
    width: 110px;
    height: 205px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 1250px;
    margin-top: -270px;
    padding: 3px;
}